<!-- when we use forms module, ng can detect form element which automatically creates obj  -->

<!-- (event binding) to call function -->

<!-- ngModel with no binding adds form input as directive  -->

<!-- using angular material (mat- elements) -->

<!-- #postForm - local reference. ="ngForm" is accessing angular directive, acesses form obj -->
<mat-card>
  <form (submit)="onSubmitPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        name="title"
        #title="ngModel"
        type="text"
        placeholder="Enter a title"
        matInput
        ngModel
        required
      >
      <mat-error *ngIf="title.invalid">Please enter post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        name="content"
        #content="ngModel"
        placeholder="Enter a post."
        rows="6"
        matInput
        ngModel
        required
      >
      </textarea>
      <mat-error *ngIf="title.invalid">Please enter post content.</mat-error>
    </mat-form-field>
      <button
        type="submit"
        color="accent"
        mat-raised-button
      >
        Save
      </button>
  </form>
</mat-card>
