<!--
  replaced both value prop binding and local reference with two-way binding.
  ng feature: it's a directive - instructions to place upon HTML elements
  ngModel listens to user input, emits and stores data
-->

<!-- using angular directive [()] -->

<!-- using angular material (mat- elements) -->
<mat-card>
  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="enteredTitle" placeholder="Enter a Title for your post.">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" [(ngModel)]="enteredContent" placeholder="Enter a post."></textarea>
    </mat-form-field>
    <button color="accent" mat-raised-button (click)="onSubmitPost()">
      Save
    </button>
  </form>
</mat-card>
